html {
  box-sizing: border-box;

  background-color: #eee9de;

  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  display: inline-block;
  max-width: 50%;
}

img {
  width: 100%;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

a, a:visited {
  display: inline-block;

  text-decoration: none;
}
