html {
  box-sizing: border-box;

  background-color: #eee9de;
  color: #333;

  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding-top: 2em;
  text-align: center;
}

div {
  display: inline-block;
  padding: 1em;
  width: 100%;
  max-width: 25em;

  text-align: left;
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
}

h2 {
  margin: 0;
}

p {
  margin: 1.5rem 0 0;
}

.btn {
  display: inline-block;
  margin: 1.5rem 0 0;
  padding: .4em .75em;

  border: .15em solid #333;
  border-radius: .5em;

  text-decoration: none;
  color: #333;
  font-size: 1.125rem;
}

.btn:hover {
  padding: .55em .9em;
  border: none;

  background-color: #666;
}
